@media only screen and (min-width: 821px) {

  /* Cho máy tính để bàn: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .box1 h4 {
    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 0vh;
  }

  .nav-mobile {
    height: 12vh;
  }

  .nav-mobile-1 {
    width: 18vw;
    height: auto;
    font-size: 1.8vw;
  }

  li a {
    font-size: 1.5vw;
  }

  li a:hover {
    background-color: #e42312;
    color: white;
    padding: 1vw;
    border-radius: 5px;
  }

  .banner {
    margin-top: 12vh;
  }

  .box {
    margin: 12vh 6vw;
  }